@import '../../common_projects_utilities/css/font-awesome', 
'../../common_projects_utilities/css/reset',  
'../../common_projects_utilities/css/footer';

/* FONTS */
$roboto: 'Roboto', sans-serif;
$fjalla: 'Fjalla One', sans-serif;

* {
    margin: 0;
}

.content {
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    position: relative;
}

/* Elementos superiores e inferiores */
.b-superior {
    position: relative;

    //Elementos primarios
    .topbar {
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        z-index: 5;

        display: none;

        &.visible {
            display: block;
        }
    }
    .logo {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside {
        position: absolute;
        top: 52.2px;
        left: 0;
        background: #000;
        z-index: 5;

        display: none;

        &.visible {
            display: flex;
            flex-direction: column;
        }
    }
    .rrss {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .share {
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height .7s;
        &--visible {max-height: 200px}
        &__icon {
            flex-shrink: 0;
            color: #fff;
            text-decoration: none;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .home {
        position: absolute;
        top: 104.2px;
        left: 0;
        background: #000;
        z-index: 4;

        display: none;

        &.visible {
            display: flex;
            flex-direction: column;
        }
        &__icon {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .powered {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;

        display: none;

        &.visible {
            display: block;
        }

        &__container {
            height: 50px;
            display: flex;
            align-items: center;
            padding-right: 24px;
        }
        &__label {
            font-family: $roboto;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: .1em;
            color: #fff;
            //transform: translateY(3px);
        }
        //&__logo {margin-left: 8px;}
    }

    //Slides
    .b-slides {
        position: absolute;
        top: 0px;
        left: 94px;
        z-index: 5;
    
        width: calc(100% - 138px); //50px de topbar + 44px de margen + 44px de margen a la derecha
        height: 30px;
    
        display: none;

        .slide-container {
            width: calc((100% - 138px) / 13); //13 = Número de contenedores
            padding: 4px 0;
            cursor: pointer;
        }
    
        .slide {
            //width: calc((100% - 138px) / 13); //13 = Número de contenedores
            width: 100%;
            height: 3px;
            background-color: #d7d7d7;
    
            //cursor: pointer;
    
            &.active {
                background-color: #333333;
            }
    
            &.group {
                position: relative;
    
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: inherit;
                }
            }
        }

        &.visible {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.b-arrows {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 5;

    width: 100%;
    height: 50px;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;

    //cursor: pointer;
    pointer-events: none;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        pointer-events: auto;
        &--home {
            img {animation: arrowAnimation 1.75s linear infinite;}
        }
        &.disabled {
            visibility: hidden;
            pointer-events: none;
        }
        &.arrow--home {
            .text-arrow {
                &:first-of-type {margin-right: 32px;}
            }
        }
    }

    .text-arrow {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: .01em;
        color: #fff;

        &.black {
            color: #000;
        }

        &:first-of-type {
            margin-right: 16px;
        }
        &:last-of-type {
            margin-left: 16px;
        }
    }
}

@keyframes arrowAnimation {
    0%, 100% {transform: transitionX(0)}
    50% {transform: translateX(-24px);}
}

/* Contenedor principal */
.b-maincontent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

//Common
.relative {position: relative;}
.block {display: block;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.video {
    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    //display: none;
    opacity: 0;
    visibility: hidden;

    transition: opacity .8s, visibility .8s;

    &.active {
        display: flex;
        opacity: 1;
        visibility: visible;    
    }

    &.lastpage {
        .card {background: #092F17}
    }

    //Tipos de contenedor >> Estas declaraciones afectarán a las cards que utilicen 'is-colored'
    /*&.lastpage {background-color: red;}
    &.block--first {background: rgba(#97C260,.96);}
    &.block--second {background-color: #69894F;}
    &.block--third {background-color: #315F41;}*/


    //HIJOS DE CONTAINER
    .card {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        //Anchos
        &.w100 { width: 100%;}
        &.w80 { width: 80%;}
        &.w70 { width: 70%;}
        &.w65 { width: 65%;}
        &.w60 { width: 60%;}
        &.w50 { width: 50%;}
        &.w40 { width: 40%; }
        &.w35 { width: 35%;}
        &.w30 { width: 30%; }
        &.w20 { width: 20%; }
        
        //Colores
        //background-color: #fff;
        background: #FFFDF8;
        &.is-colored {
            //background-color: inherit;
            z-index: 2;
        }
    }
    &.block--first {
        .is-colored {
            background: rgba(#97C260,.96);
            &--opaque {background: #97C260}
        }
    }
    &.block--second {
        .is-colored {
            background: rgba(#69894F,.96);
            &--opaque {background: #69894F}
        }
    }
    &.block--third {
        .is-colored {
            background: rgba(#315F41,.96);
            &--opaque {background: #315F41}
        }
    }
}

//Portada
.homepage {
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #5E7B60;
        mix-blend-mode: multiply;
        opacity: .6;
    }
    &__content {color: #fff;}
}
.title {
    font-family: $fjalla;
    font-weight: 400;
    font-size: 96px;
    line-height: .87;
    text-shadow: 0 5px 20px rgba(0,0,0,.45);
    padding-bottom: 32px;
    margin-bottom: 32px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 3px;
        background: #fff;
    }
}
.subtitle {
    font-family: $fjalla;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.58;
    letter-spacing: 0.1em;
    max-width: 436px;
    margin: 0 auto 48px;
}
.author {
    font-family: $roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .2em;
}

//Interiores
.card {
    &__header {padding: 0 80px;}
    &__container {
        margin: 0 96px 0 136px;
        color: #fff;
    }
    &__number {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.37;
        letter-spacing: .01em;
        color: #fff;
        margin-bottom: 12px;
    }
    &__title {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 56px;
        line-height: 1.32;
        color: #fff;
    }
    &__wrapper {
        position: relative;
        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            width: calc(100% - 3px);
            height: 69px;
            opacity: 0;
            visibility: visible;
            transition: opacity .4s, visibility .4s;
            pointer-events: none;
        }
        &::before {
            top: 0;
            background: #000;
            .block--first & {background: linear-gradient(to bottom, #97C260 23.96%, rgba(#97C260,0) 100%);}
            .block--first .jobs & {background: linear-gradient(to bottom, #FFFDF8 23.96%, rgba(#FFFDF8,0) 100%);}
            .block--second & {background: linear-gradient(to bottom, #69894F 23.96%, rgba(#69894F,0) 100%);}
            .block--third & {background: linear-gradient(to bottom, #FFFDF8 23.96%, rgba(#FFFDF8,0) 100%);}
            .block--third .is-colored & {background: linear-gradient(to bottom, #315F41 23.96%, rgba(#315F41,0) 100%);}
        }
        &::after {
            bottom: 0;
            background: #000;
            .block--first & {background: linear-gradient(to top, #97C260 23.96%, rgba(#97C260,0) 100%);}
            .block--first .jobs & {background: linear-gradient(to top, #FFFDF8 23.96%, rgba(#FFFDF8,0) 100%);}
            .block--second & {background: linear-gradient(to top, #69894F 23.96%, rgba(#69894F,0) 100%);}
            .block--third & {background: linear-gradient(to top, #FFFDF8 23.96%, rgba(#FFFDF8,0) 100%);}
            .block--third .is-colored & {background: linear-gradient(to top, #315F41 23.96%, rgba(#315F41,0) 100%);}
        }
        &.gradient-bottom {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
        &.gradient-top {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__content {
        padding-right: 40px;
        //max-height: calc(100vh - 148px); //50px (topbar top) + 50px (navitation bottom) + 48px (margin: 24px + 24px)
        overflow: auto;
        &::-webkit-scrollbar {width: 3px;}
        &::-webkit-scrollbar-track {background: rgba(#fff,.3);}
        &::-webkit-scrollbar-thumb {background: #fff;}
        &--white {
            &::-webkit-scrollbar-track {background: rgba(#333,.3);}
            &::-webkit-scrollbar-thumb {background: #333;}
        }
    }
    &__subtitle {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.28;
        letter-spacing: .01em;
        margin-bottom: 8px;
    }
    &__text {
        font-family: $roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: .02em;
        color: #fff;
        &--margin {margin-bottom: 24px;}
        &--dark {color: #333;}
    }
    &__link {
        font-weight: 700;
        color: #fff;
        text-decoration: underline;
        transition: color .3s;
        &:hover {
            text-decoration: none;
            color: rgba(#fff,.75);
        }
        &--color {
            color: #9BC466;
            &:hover {
                text-decoration: none;
                color: rgba(#9BC466,.75);
            }
        }
    }
    &__featured {
        margin: 24px 0;
        font-family: $fjalla;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: .02em;
    }
    &__underline {box-shadow:inset 0 -12px 0 #8aaf5a;}
    &__year {
        color: #333;
        //Para evitar que cambie de línea según se anima
        width: 50px;
        display: inline-block;
    }
}

//.bodymovin {width: 100%;}
.bodymovin {
    width: 100%;
    height: 100%;
    /*&--height {
        height: 100%;
        width: auto;
    }
    &--width {
        width: 100%;
        height: auto;
    }*/
}

.jobs {
    width: 100%;
    box-sizing: border-box;
    padding: 0 26px 0 66px;
    &__header {
        margin-bottom: 40px;
        color: #333;
    }
    &__title {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.92;
        letter-spacing: .01em;
        .color {color: #9BC466;}
    }
    &__note {
        font-family: $roboto;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.47;
        letter-spacing: .01em;
    }
    &__grid {
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-bottom: 24px;
        &--inline {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    &__description {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #333;
        margin-bottom: 8px;
        &--inline {margin-bottom: 0}
    }
    &__resume {display: none;}
    &__data {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &--inline {
            margin-left: 8px;
            padding-left: 32px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 24px;
                height: 1px;
                background: #9BC466;
            }
        }
    }
    &__icons {margin-right: 2px;}
    &__icon {
        margin-right: 6px;
        opacity: 0;
        visibility: hidden;
        &--visible {
            opacity: 1;
            visibility: visible;
            transition: opacity .5s, visibility .5s;
        }
    }
    &__number {
        font-family: $roboto;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #9BC466;
        padding-left: 32px;
        position: relative;
        opacity: 0;
        visibility: hidden;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 24px;
            height: 1px;
            background: #9BC466;
        }
        &--visible {
            opacity: 1;
            visibility: visible;
            transition: opacity .5s, visibility .5s;
        }
    }
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__navigation {
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 5;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background: rgba(#000,.9);
        color: #fff;
        text-decoration: none;
        &--disabled {
            background: rgba(#000,.3);
            cursor: default;
            pointer-events: none;
        }
    }
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    &__items {
        display: flex;
        transition: transform .5s;
        height: 100%;
    }
    &__item {
        //width: 100%;
        //width: 864px;
        flex-shrink: 0;
    }
    &__image {
        &--width {
            width: 100%;
            height: auto;
        }
        &--height {
            height: 100%;
            width: auto;
        }
    }
    &__dots {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__dot {
        margin: 0 12px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(#fff,.3);
        transition: background .5s;
        &--active {background: #fff;}
    }
}

.chronology {
    box-sizing: border-box;
    width: 100%;
    max-width: 1500px;
    //padding: 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__navigation {display: none;}
}
.milestone {
    margin: 0 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 40px}
    &:hover {
        .back {transform: rotateY(0deg);}
        .front {transform: rotateY(180deg);}
    }
    &__title {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.39;
        letter-spacing: .01em;
        color: rgba(#fff,.7);
        padding: 12px;
        background: #315F41;

        position: absolute;
        top: 0;
        left: 0;
    }
    &__image {
        max-width: 100%;
        height: auto;
    }
    &__year {color: #fff;}
    &__overlay, &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__overlay {background: rgba(#000,.7);}
    &__content {
        box-sizing: border-box;
        padding: 24px;
        display: flex;
        align-items: center;
        font-family: $roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: .02em;
        color: #fff;
    }
}
.milestone, .front, .back {
    width: 385px;
    height: 270px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    cursor: pointer;
}
.front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(-180deg);
}

//Cierre
.lastpage {
    &__video {opacity: .3}
    &__content {
        &::before, &::after {
            content: 'X';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-family: $fjalla;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.58;
            letter-spacing: .115em;
            color: #fff;
        }
        &::before {top: -70px;}
        &::after {bottom: -80px;}
    }
    &__author {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.58;
        letter-spacing: .115em;
        color: #fff;
    }
    &__logo {margin-top: 24px;}
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background: #092F17;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    &__link {
        font-family: $fjalla;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: .01em;
        color: #fff;
        text-decoration: none;
        transition: color .5s;
        &:hover {color: rgba(#fff,.75);}
    }
    &__separator {margin: 0 8px;}
}
.footerSpecials {display: none;}

.visible-mobile {display: none;}

@media screen and (min-width: 993px) and (min-aspect-ratio: 16/9) {
    .video {
        &--fixed {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (min-width: 993px) and (max-aspect-ratio: 16/9) {
    .video {
        &--fixed {
            width: auto;
            height: 100%;
        }
    }
}

@media screen and (max-width: 992px) and (min-aspect-ratio: 9/16) {
    .video {
        &--fixed {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 992px) and (max-aspect-ratio: 9/16) {
    .video {
        &--fixed {
            width: auto;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1680px) {
    .card {
        &__container {margin: 0 80px 0 120px;}
    }
}

@media screen and (max-width: 1440px) {
    .card {
        &__header {padding: 0 40px;}
        &__container {margin: 0 56px 0 96px;}
    }
}

@media screen and (max-width: 1400px) {
    .jobs {
        &__data {
            &--inline {
                padding-left: 16px;
                &::before {width: 8px;}
            }
        }
        &__number {
            font-size: 14px;
            padding-left: 16px;
            &::before {width: 8px;}
        }
    }
    .milestone, .front, .back {
        width: 350px;
        height: 245px;
    }
}

@media screen and (max-width: 1200px) {
    .card {
        &__title {font-size: 42px;}
        &__container {margin: 0 16px 0 56px;}
        &__subtitle {font-size: 34px;}
    }
    .jobs {
        padding: 0 16px 0 56px;
        &__title {font-size: 22px}
        &__icon {margin-right: 4px;}
    }
    .milestone {
        margin: 0 12px;
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 24px}
        &__title {
            font-size: 24px;
            padding: 8px;
        }
        &__content {
            padding: 16px;
            font-size: 14px;
            line-height: 1.54;
        }
    }
    .milestone, .front, .back {
        width: 300px;
        height: 210px;
    }
}

//@media screen and (max-width: 768px) {
@media screen and (max-width: 993px) {
    /* Contenido */
    .content {
        width: 100%;
        height: calc(100vh - 24px); /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

    //Mejorar este apartado
    .b-superior {
        .b-slides-mobile {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
    
            width: calc(100% - 32px);
            height: 20px;

            z-index: 5;
    
            display: none;

            .line-slide {
                position: relative;
                .line-slide-js {
                    width: 0%;
                    height: 3px;
        
                    background-color: #fff;
                }
    
                .background-line-slide-js {
                    position: absolute;
                    top: 0px;

                    width: 100%;
                    //width: 0%;
                    height: 3px;
        
                    background-color: #fff;
                    opacity: 0.3;
                }
            }

            &.b-slides-mobile-color {
                .line-slide {
                    .line-slide-js {background: #97C260;}
                    .background-line-slide-js {background: rgba(#73AF48,.15);}
                }
            }          

            &.visible {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
    
            .slides-mobile {
                display: flex;
                justify-content: space-between;
    
                .slide-mobile {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
    
                    background-color: #fff;
                    opacity: 0.4;
    
                    &.group {
                        background-color: black !important;
                    }
    
                    &.active {
                        background-color: #fff;
                        opacity: 1;
                    }
                }
            }

            &.b-slides-mobile-color {
                .slides-mobile {
                    .slide-mobile {
                        background: rgba(#97C260,.2);
                        &.active {background: #97C260}
                    }
                }
            } 
        }
    }    

    .container {
        .card {
            height: 100%;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            &.w100, &.w80, &.w70, &.w65, &.w60, &.w50, &.w40, &.w35, &.w30, &.w20 { width: 100%;}
            
            //display: none;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            &.active {
                display: flex;
                opacity: 1;
                z-index: 2;

                transition: opacity .4s;
            }
            &--home {
                transform: translateX(100%);
                &.active {
                    transform: translateX(0);
                    transition: transform 1s ease-out 3s, opacity .4s;
                }
            }
        }
        &.block--first {
            .is-colored {
                background: rgba(#97C260,.86);
                &--opaque {background: #97C260}
            }
        }
        &.block--second {
            .is-colored {
                background: rgba(#69894F,.86);
                &--opaque {background: #69894F}
            }
        }
        &.block--third {
            .is-colored {
                background: rgba(#315F41,.86);
                &--opaque {background: #315F41}
            }
        }
    }

    .title {font-size: 82px;}

    .animation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &__bg, &__fg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: auto;
            pointer-events: none;
        }
        &__bg {display: none;}
        &__item {
            position: absolute;
            &--first {
                max-width: 162px;
                top: 80px;
                left: 24px;
            }
            &--second {
                max-width: 93px;
                top: 80px;
                right: 24px;
            }
            &--third {
                max-width: 108px;
                bottom: 80px;
                left: 30%;
            }
            &--fourth {
                max-width: 98px;
                top: 120px;
                left: 24px;
            }
            &--fifth {
                max-width: 108px;
                top: 80px;
                right: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            &--sixth {
                max-width: 137px;
                bottom: 80px;
                left: 40%;
            }
        }
        &__row {display: flex;}
        &__icon {
            margin-bottom: 8px;
            &--third {
                margin-bottom: 0;
                margin-right: 12px;
            }
        }
        &__label {
            font-family: $fjalla;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.42;
            letter-spacing: .01em;
            color: #333;
            margin-bottom: 4px;
        }
        &__more {
            display: inline-flex;
            align-items: center;
            padding: 8px;
            border-radius: 5px;
            background: #97C260;
            font-family: $fjalla;
            font-weight: 400;
            font-size: 15px;
            line-height: .67;
            color: #fff;
            text-decoration: none;
        }
        &__arrow {margin-left: 8px;}
        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            //width: 250px;
            //height: 250px;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            box-sizing: border-box;
            padding: 56px 40px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s, visibility .5s;
            &--first {
                width: 260px;
                height: 260px;
                background: rgba(#fff,.9);
            }
            &--last {
                width: 220px;
                height: 220px;
                background: #fff;
            }
            &--visible {
                opacity: 1;
                visibility: visible;
            }
        }
        &__text {
            font-family: $roboto;
            font-weight: 400;
            font-size: 17px;
            line-height: 1.29;
            letter-spacing: .02em;
            color: #575757;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -16px);
                width: 23px;
                height: 3px;
                background: #333;
            }
        }
    }
    .footer {
        bottom: 120px;
        padding: 0;
        background: transparent;
        flex-direction: column;
        &__link {margin: 8px 0;}
    }

    /* Helpers mobile */
    .hidden-mobile {display: none;}
    .visible-mobile {display: block;}
}

@media screen and (max-width: 767px) {
    .b-arrows {
        justify-content: center;
        padding: 12px;
        .arrow--left.disabled {display: none;}
        .text-arrow {
            &:first-of-type {margin-right: 0}
            &:last-of-type {margin-left: 0}
        }
        &--progress {
            justify-content: space-between;
            .arrow {
                //width: 114px;
                width: 122px;
                height: 32px;
                border-radius: 2px;
                background: rgba(#fff,.7);
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            .text-arrow {
                font-family: $roboto;
                font-size: 15px;
                line-height: 1.33;
                letter-spacing: normal;
                color: #1E2514;
                &--left:first-of-type {margin-left: 12px;}
                &--right:first-of-type {margin-right: 12px;}
                //&:first-of-type {margin-right: 12px}
                //&:last-of-type {margin-left: 12px}
            }
        }
        .arrow {
            &--home {transform: translateX(-8px)}
            &.arrow--home {
                .text-arrow {
                    &:first-of-type {margin-right: 0;}
                }
            }
        }
    }
    @keyframes arrowAnimation {
        0%, 100% {transform: transitionX(-8px)}
        50% {transform: translateX(8px);}
    }
    .card {
        &__header {padding: 0 24px;}
        &__number {margin-bottom: 16px;}
        &__title {
            font-size: 40px;
            line-height: 1.3;
        }
        &__container {margin: 0 12px 0 24px;}
        &__subtitle {
            font-size: 36px;
            margin-bottom: 24px;
        }
        &__content {padding-right: 12px;}
        &__text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    .title {
        font-size: 44px;
        line-height: 1.91;
        padding-bottom: 24px;
        margin-bottom: 24px;
        &::after {width: 23px;}
    }
    .subtitle {
        font-size: 22px;
        line-height: 1.55;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 16px;
    }
    .jobs {
        padding: 0 12px 0 24px;
        &__title {
            font-size: 24px;
            line-height: 1.42;
            margin-bottom: 8px;
        }
        &__description {margin-bottom: 4px;}
        &__number {display: none}
        &__resume {display: inline;}
        &__item {
            margin-bottom: 16px;
            &--inline {display: block;}
        }
        &__data {
            min-height: 18px;
            &--inline {
                padding-left: 0;
                margin-left: 0;
                &::before {content: none;}
            }
        }
        &__icon {margin-right: 6px}
        .green {color: #9BC466;}
    }
    .gallery {
        &__dots {display: none}
        &__arrow {
            width: 36px;
            height: 36px;
            img {
                width: 7px;
                height: auto;
            }
        }
    }
    .chronology {
        position: relative;
        height: 100%;
        &__navigation {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 5;
        }
        &__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: rgba(#000,.9);
            color: #fff;
            text-decoration: none;
            margin: 0 12px;
            &--disabled {
                background: rgba(#000,.3);
                cursor: default;
                pointer-events: none;
            }
        }
    }
    .milestone, .flipper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .milestone {
        margin: 0;
        opacity: 0;
        visibility: hidden;
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 0}
        &:hover {
            .front {transform: rotateY(0deg);}
        }
        &--visible {
            opacity: 1;
            visibility: visible;
        }
        &__image {width: 100%;}
        &__title {
            position: relative;
            padding: 12px 24px;
            text-align: center;
            //min-height: 67px;
            &--short {padding: 22px 24px;}
        }
        &__content {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: calc(100% - 40px);
            margin: 0 20px;
            padding: 0 20px 0;
            text-align: center;
            font-size: 20px;
            line-height: 1.5;
            overflow: auto;
            align-items: flex-start;
            &::-webkit-scrollbar {width: 3px;}
            &::-webkit-scrollbar-track {background: rgba(#fff,.3);}
            &::-webkit-scrollbar-thumb {background: #fff;}
        }
    }
    .flipper {
        display: flex;
        flex-direction: column;
    }
    .front, .back {
        position: relative;
        width: 100%;
        height: inherit;
    }
    .back {
        transform: rotateY(0);
        background: rgba(#315F41,.9);
        .milestone__image, .milestone__overlay {display: none;}
    }
    .footer {
        bottom: 110px;
        &__link {margin: 0;}
    }
}

@media screen and (max-width: 767px) and (max-height: 700px) {
    .animation {
        &__item {
            &--first {top: 60px;}
            &--second {top: 60px;}
            &--third {bottom: 60px;}
            &--fourth {top: 100px;}
            &--fifth {top: 60px;}
            &--sixth {bottom: 60px;}
        }
    }
}

@media screen and (max-width: 767px) and (max-height: 650px) {
    .animation {
        &__item {
            &--first {top: 40px;}
            &--second {top: 40px;}
            &--third {bottom: 40px;}
            &--fourth {top: 80px;}
            &--fifth {top: 40px;}
            &--sixth {bottom: 40px;}
        }
    }
    .footer {bottom: 80px;}
}

@media screen and (max-width: 350px) {
    .animation {
        &__bg {
            max-width: 100%;
            height: auto;
        }
        &__content {
            width: 220px;
            height: 220px;
            padding: 40px 24px 24px;
        }
    }
}